.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-weight: bold;
  gap: 0.4rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;

  &:hover {
    filter: brightness(80%);
  }

  & svg {
    width: 6.4rem;
    height: 6.4rem;
  }
}
