.button {
  border: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  svg {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    filter: brightness(80%);
  }
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}
